.top {
    padding-top: 120px;
    height: 400px;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #150017;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}