main {
    padding-top: 1  50px;
}

.tweet-ui {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

textarea {
    border: none;
    overflow: auto;
    outline: none;
    background-color: #f4f1ec;
    
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
}

#error-msg {
    display: none;
    width: 100%;
    text-align: center;
    color: red;
    border: 3px;
    border-style: solid;
    border-color: red;
}

#tweet-button {
    color: #FFFFFF;
    background-color: #4056A1;
    font-family: 'Bungee';
    font-weight: 300;
}

.textarea {
    display: flex;
}